@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
    margin: 0px 0px;
    padding: 0px;
    font-family: 'Alata', sans-serif;
    background-color:#0F1722;
    
}
.header {
    height: 80px;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logo {
    color: red;
    font-size: 30px;
}
.main-nav a {
    margin-right: 40px;
    font-weight: 700;
    font-size: 18px;
    color: red;
    text-decoration: none;
}
.nav-list {
    display: flex;
    margin-left: 850px;
    padding: 0px;
    list-style-type: none;
}
.valo {
    margin-left: 150px;
    color: black;
    background-color: red;
    padding: 7px 30px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 30px;
}
main {
    height: 1080px;
    background-image: url(Background.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.vandal-bg {
    display: inline-block;
    background-color: #940000;
    width: 860px;
    height: 324px;
    position: relative;
    left: 35px;
    top: 150px;
    border-radius: 50px;
}
.vandal {
    width: 804px;
    height: 255px;
    flex-shrink: 0;
    position: absolute;
    top: 33px;
    left: 33px;
}
.dmg-bg {
    display: inline-block;
    background-color: #191A1C;;
    width: 860px;
    height: 324px;
    position: relative;
    left: 120px;
    top: 150px;
    border-radius: 50px;
}
.dmg {
    color: #F00;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    width: 444px;
    height: 189px;
    margin-left: 204px;
}
.price-bg {
    display: inline-block;
    background-color: #191A1C;
    width: 860px;
    height: 324px;
    position: relative;
    left: 35px;
    top: 250px;
    border-radius: 50px;
}
.price {
    color: #F00;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    width: 588px;
    height: 323px;
    top: -25px;
    margin-left: 136px;
}
#footer {
    width: 100%;
    height: 492px;
    z-index: -1;
    position: absolute;
}
h1 {
    font-size: 90px;
    color: red;
    position:relative;
    margin-left: 50px;
}
.closing {
    width: 380px;
    font-size: 28px;
    color: red;
    position: relative;
    margin-left: 260px;
    top: 30px;
}
hr {
    position: relative;
    border-color: gray;
    width: 1420px;
    left: 20px;
}
h3 {
    font-size: 30px;
    color: red;
    position: relative;
    margin-left: 1250px;
    bottom: 150px;
}
h2 {
    color: white;
    position: absolute;
    margin-top: -150px;
    left: 10px;
}
.ellipse {
    position: absolute;
    bottom: 0%;
    z-index: -1;
}